/*first*/


#first{
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  background-color: black;
}
.intro{
  margin-right:200px;
  padding-top: 100px;
  color: white;
}
.art{
  height: 150px;
  width: 150px;
  padding: 10px;
}
.introimg{
  display: flex;
  flex-direction: column;
  padding-left: 300px;
}
.steo{
  font-size: 70px;
  font-family: "anthon",sans-serif;
}
.para{
  padding-top: 25px;
  line-height: 0;
  font-family: "dancing script",cursive;
  font-size: 20px;
  font-weight: lighter;
}

/*second*/

.second{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 90px;
}
.h2{
  padding-bottom: 10px;
  padding-top: 20px;
}

/*third*/
.img{
  height: 200px;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 50px;
}
#art-section{
  padding-left: 150px;
  padding-right: 100px;
  padding-bottom: 20px;
  color: white;
  background-color: black;
  margin-top: 50px;
}
.header, .heading{
  text-align: center;
  padding-top: 50px;
  font-size: 52px;
  font-family: "Oswald",sans-serif;
}
#totes{
  padding-left: 150px;
  padding-right: 100px;
  padding-bottom: 20px;
  color: white;
  background-color: black;
  margin-top: 50px;
}

/*fourth*/
.fourth{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
}
.size{
  padding-left: 200px;
}
.order{
  margin-left: 100px;
}


.sixth{
  display: flex;
  padding-left: 300px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.part1{
  padding-right: 200px;
}
.button{
  margin-left: 300px;
}


.Seventh{
  padding: 100px;
  color: white;
  background-color:black;
  margin-top: 100px;
}
.form{
  display: flex;
  flex-direction: column;
}
input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.last-btn{
  margin-top: 10px;
}
/*navbar*/
.navbar-brand{
  padding-left: 20px;
  font-weight: bolder;

}
.collapse{
  padding-left: 900px;
}

/*footer*/

footer{
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 500px;
}
.footer{
  padding-right: 10px;
  text-decoration: none;
  color: black;
}
